<!DOCTYPE html>
<html>
  <head>
    <title>ConceptViteRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
